body {
  font-family: 'Raleway', sans-serif !important;
  background-color: #252934 !important;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif !important;
}

p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif !important;
}

/* REUSABLE CLASSES */



/* NAV BAR */
.navbar-custom {
  background-color: rgba(22, 26, 30);
}

nav .navbar-nav li a, .navbar-brand span {
  color: white !important;
}

nav .navbar-nav li a:hover {
  color: darkgrey !important;
}

#navButton {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

/* Removes white box from hamburger icon */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


/* GREETING */

.display-4 {
  color: white !important;
}

#pronounced-name {
  color: #03DAC6 !important;
  font-weight: bold;
}

.greeting {
  height: 100vh !important;
}

#headshot {
  max-height: 30vh;
  border: 5px white solid;
  border-radius: 100%;
}

.divider {
  border: 6px solid white;
  border-radius: 4px;
}


/* MEDIA QUERIES */

/* Small devices */
@media (max-width: 576px) {

  /* GREETING */
  h1.display-4 {
    font-size: 2rem !important;
  }
}